# Introduction à python

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [1]:
int1=5
float1=4.5
bool1=True
str1="data"

In [2]:
%whos

Variable   Type     Data/Info
-----------------------------
bool1      bool     True
float1     float    4.5
int1       int      5
str1       str      data

In [3]:
print(bool1,float1,int1,str1)

True 4.5 5 data

Définir une variable comprenant la chaîne ‘Python pour la Science’, utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’

In [4]:
str2="Python pour la Science"
print((str2[:15]+"data"+str2[-8:]).upper())

PYTHON POUR LA DATA SCIENCE

Créez une condition qui affiche une valeur différente en fonction du booléen entré.

In [5]:
bool1=True
if bool1==True:
    print("Bool1 est vrai")
else:
    print("Bool1 est faux")

Bool1 est vrai

Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à une variable à chaque boucle

In [6]:
x=0
for i in range(6):
    x+=1
print(x)

6

Créez une liste composée de 5 éléments, affichez la longueur de la liste.
Modifiez la dernière valeur de la liste et construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.

In [7]:
list1=[2,4,6,7,"Direct"]
type(list1[4])

str

In [8]:
len(list1)

5

In [9]:
list1[4]=2
type(list1[4])

int

In [10]:
list1

[2, 4, 6, 7, 2]

In [11]:
list2=list1[-3:]
list2

[6, 7, 2]

A partir d’une liste de valeurs en degrés celsius [0, 10, 20, 35], créez une liste en degrés fahrenheits (9/5*temp+32)

In [12]:
list_celsius=[0,10,20,33]
list_fahrenheit=[9/5*temp +32 for temp in list_celsius]
list_fahrenheit

[32.0, 50.0, 68.0, 91.4]

Créez la chaîne ‘Vive la data science’, transformez-la en une liste de quatre éléments.  Ajoutez les valeurs ‘et’ et ‘Python’ à cette liste.  Affichez la chaîne de caractère obtenue.

In [13]:
str3="Vive la data science"

In [14]:
list3=str3.split(" ")
list3

['Vive', 'la', 'data', 'science']

In [15]:
#approche 1
list3=list3+["et", "python"]

#approche 2
list3.extend(["et", "python"])

#approche 3
for indice in ["et", "python"]:
    list3.append(indice)

In [16]:
print(" ".join(list3))

Vive la data science et python et python et python

Créez la chaîne ‘Ce client est …, il a … ans d’ancienneté et a dépensé … euros’. On utilisera les %... dans la chaîne que l’on pourra remplacer par différentes valeurs

In [17]:
str_client="Ce client s'appelle %s, il a %i ans d'ancienneté et a dépensé %.2f euros"

In [18]:
print(str_client %("Emmanuel", 10, 300.45))

Ce client s'appelle Emmanuel, il a 10 ans d'ancienneté et a dépensé 300.45 euros

Construire un dictionnaire composé de listes de mots et accédez à un élément d’une des listes du dictionnaire.  Affichez le mot en majuscule.

In [19]:
dico1={"Pays":["France", "Suisse", "USA"], "Villes":["Paris","New York"]}

In [20]:
print(dico1["Pays"][1].upper())

SUISSE

In [21]:
print(dico1["Pays"].pop(1).upper())

SUISSE

### Les fonctions

In [22]:
def test2(a:int,b:float,*args):
    """
    Cette fonction prend un nombre indéfini d'éléments en entrée et les extrait
    dans une liste
    """
    list4=[]
    for indice in args:
        list4.append(indice)
    #print(a,b,list4)
    return a,b,list4

In [23]:
a,b,list_autres=test2("zer","abc",4,5,6)

In [24]:
a

'zer'

In [25]:
b

'abc'

In [26]:
list_autres

[4, 5, 6]

Fonctions lambda

In [27]:
f=lambda x,y : x**2+x*y

In [28]:
f(2,3)

10

Créez une fonction lambda qui met en majuscule et qui sépare les mots d’une chaîne de caractère

In [29]:
sep_et_maj=lambda str1:str1.upper().split(" ")

In [30]:
sep_et_maj("je m'appelle Emmanuel")

['JE', "M'APPELLE", 'EMMANUEL']

In [31]:
def moyenne_listes(list1:list,list2:list):
    return sum(list1+list2)/len(list1+list2)

In [32]:
def moyenne_listes2(list1:list,list2:list):
    somme=0.0
    for indice in list1+list2:
        somme+=indice
    return somme/len(list1+list2)

In [33]:
moy_listes=moyenne_listes([i**2 for i in range(5)],[2,3,5])

In [34]:
moy_listes

5.0

Construire une fonction prenant en entrée deux listes et qui affiche la phrase :
‘La moyenne des éléments des listes liste1 et liste2 est de valeur_moyenne’

In [35]:
print("La moyenne des éléments des listes %s et %s est de %.4f" 
     % ([i**2 for i in range(5)],[2,3,5],
        moyenne_listes([i**2 for i in range(5)],[2,3,5])))

La moyenne des éléments des listes [0, 1, 4, 9, 16] et [2, 3, 5] est de 5.0000

### Les classes

Définir une classe Client qui s’initialise avec comme variable nouveau_client et ville. 
Créer un objet client1 et affichez les valeurs allouées

In [36]:
class Client:
    def __init__(self, nouveau_client=True,ville="Suresnes"):
        self.nouveau_client=nouveau_client
        self.ville= ville

    def affiche_client(self):
        if self.nouveau_client==True:
            print("Ce client est un nouveau client qui vient de",self.ville)
        else:
            print("Ce client est un ancien client qui vient de",self.ville)
    
    def demenagement(self,nouvelle_ville):
        self.ville=nouvelle_ville

In [37]:
client1=Client()

In [38]:
client1.nouveau_client=False

In [39]:
client1.affiche_client()

Ce client est un ancien client qui vient de Suresnes

In [40]:
client2=Client(False, "Puteaux")

In [41]:
client2.affiche_client()

Ce client est un ancien client qui vient de Puteaux

In [42]:
client2.demenagement("Paris")

Définissez une classe CompteBancaire(), qui permette d'instancier des objets tels que compte1, compte2, etc. 
Le constructeur de cette classe initialisera deux attributs d'instance nom et solde, avec les valeurs par défaut ‘A' et 0.

Trois autres méthodes sont définies :
- depot(somme) permettra d'ajouter une certaine somme au solde
- retrait(somme) permettra de retirer une certaine somme du solde
- affiche() permettra d'afficher le solde du compte et un message d’alerte en cas de solde négatif.

In [43]:
class CompteBancaire:
    """
    Classe pour créer un objet du type compte bancaire
    """
    def __init__(self, nom="Moi",solde=0):
        self.nom=nom
        self.solde=solde

    def depot(self,somme):
        self.solde+=somme

    def retrait(self,somme):
        self.solde-=somme

    def affiche(self):
        """
        Méthode affichant le solde
        """
        if self.solde<0:
            print("Attention solde négatif")
        else:
            print(self.solde)

In [44]:
compte1=CompteBancaire(solde=20000)

In [45]:
compte1.depot(30)

In [46]:
compte1.affiche()

20030

In [47]:
compte1.retrait(100000)

In [48]:
compte1.affiche()

Attention solde négatif